# Archivos de Eclipse
/.classpath
/.project
/.settings/

# Archivos compilados de Java
/bin/
/target/

# Archivos de configuración de Git
*.log

# Archivos de sistema de Windows
Thumbs.db
.DS_Store
*.exe
*.dll

# Archivos de base de datos y MySQL
mysql_data/
dbfiles/*.sock
dbfiles/*.pid

# Archivos de Docker
docker-compose.override.yml
*.env

# Archivos temporales
*.tmp
*.swp
